<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">DANH SÁCH SẢN PHẨM</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="">Trang chủ</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Danh sách sản phẩm</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<div class="container-fluid py-5">
  <table class="table table-hover">
    <tr class="bg-primary text-light">
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>abc</th>
      <th>xyz</th>
    </tr>
  </table>
</div>
